.students-page {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.student-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-heading {
    font-size: 30px;
    font-weight: 700;
}

.add-btn {
    border-radius: 30px;
    width: 235px;
    font-size: 25px;
    padding: 5px 15px;
}

.upper-form-control {
    display: flex;
    flex-direction: row;
}

.form-floating {
    width: 300px;
    margin-right: 30px;
}

.add-student-form {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    margin: 70px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    align-self: end;
}

.cancel-btn {
    margin-right: 10px;
}

.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-2rem) translateX(0.15rem) !important;
    color: #000;
    font-weight: 700;
}

.form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.form-floating>label {
    top: 15px !important;
    left: 11px !important;
    padding: 0 !important; 
}

input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}

table {
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
    border-radius: 7px;
}

tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    height: 65px;
    border-bottom: 1px solid #ccc !important;
}

@media only screen and (max-width: 1024px) and (min-width: 350px) { 

    .add-student-form {
        margin: 40px 20px 0 20px;
        justify-content: unset;
    }

    .upper-form-control {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-floating {
        width: unset;
        margin: 0 0 30px 0;
    }

    .form-buttons {
        align-self: center;
    }

    .cancel-btn {
        margin-right: 10px;
    }

    .add-btn {
        width: 100%;
    }

    .students-page {
        margin: 20px 20px 0 20px;
    }
}
